<h4 class="creat-list">建立餐廳</h4>

<div class="container border shadow p-3 mb-5 bg-body-tertiary rounded my-5">
    <div class="row row-cols-8">
        <form class="new-form my-5">
            <div class="row row-cols-2 mb-3">
                <div class="col-3 text-center"> 
                    <label for="name" class="form-label pt-2">名稱</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="name">
                </div>           
            </div>
            <div class="row row-cols-2 mb-3">
                <div class="col-3 text-center">
                    <label for="en-name" class="form-label pt-2">英文名稱 (選填)</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="en-name">
                </div>
            </div>
            <div class="row row-cols-2 mb-3">
                <div class="col-3 text-center">
                    <label for="en-name" class="form-label pt-2">餐廳類別</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="en-name">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


